* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 700;
}

h4 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #242424;
  z-index: 1100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.splash img {
  height: 70%;
  width: auto;
}

.splash.display-none {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #242424;
  z-index: -10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.splash.display-none img {
  height: 70%;
  width: auto;
}

@-webkit-keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn 1s ease-in forwards;
          animation: fadeIn 1s ease-in forwards;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 700;
}

h4 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.escritorio {
  width: 100%;
  height: 80px;
  padding-left: 10%;
  padding-right: 10%;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  z-index: 1000;
}

.escritorio .logo-escritorio {
  height: 100%;
  cursor: pointer;
}

.escritorio .logo-escritorio a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.escritorio .logo-escritorio a img {
  height: 50%;
}

.escritorio .enlaces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
}

.escritorio .enlaces a {
  text-decoration: none;
  padding: 1rem 2rem;
  color: #242424;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

.escritorio .enlaces a:hover {
  color: #3eb1c8;
}

.degradado {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 800;
}

.movil {
  width: 80%;
  max-width: 375px;
  height: 100vh;
  background: #fff;
  position: fixed;
  top: 0;
  left: -80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  z-index: 1000;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
  /*.salir{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 2rem;
        background: $gris-claro;
        width: 100%;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: ease-in-out .15s;
        &:hover{
            background:$gris-oscuro;
        }
    }*/
}

.movil .top-menu {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  background-color: #3eb1c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movil .top-menu .logo-movil {
  height: 70px;
}

.movil .top-menu .logo-movil img {
  height: 100%;
}

.movil .top-menu .salir {
  height: auto;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.movil .top-menu .salir i {
  font-size: 2rem;
  color: #ffffff;
}

.movil .hamburguesa {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movil .hamburguesa a.link {
  width: 100%;
  background: #fff;
  font-size: 2rem;
  text-align: center;
  text-decoration: none;
  color: #3eb1c8;
  padding: 1.8rem 2rem;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

.movil .hamburguesa a.link:hover {
  background: #eaeaea;
}

.btnMenu {
  position: fixed;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.35);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  z-index: 600;
}

.btnMenu i {
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  .escritorio {
    display: none;
  }
  .movil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .btnMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 700;
}

h4 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

header.header {
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  padding-left: 10%;
  padding-right: 10%;
  background: #242424;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

header.header .texto-header {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header.header .texto-header p#hola-header {
  font-size: 1.5625em;
  margin-bottom: 0px;
}

header.header .texto-header h1#nombre-header {
  font-size: 3.4375em;
  margin-top: -15px;
  margin-bottom: -5px;
}

header.header .texto-header p#especialidad-header {
  font-size: 1.125em;
  margin-bottom: 30px;
}

header.header .texto-header button#btn-header {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.125em;
  background: #3eb1c8;
  border: none;
  padding: 15px 60px;
  border-radius: 15px;
  margin-bottom: 10%;
  cursor: pointer;
}

header.header .texto-header button#btn-header:hover {
  background: #ffffff;
  color: #3eb1c8;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

header.header .img-header {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header.header .img-header img {
  height: 100%;
}

@media screen and (max-width: 1024px) {
  header.header {
    font-size: 14px;
    height: auto;
    padding-left: 0;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.header :nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  header.header :nth-child(2) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  header.header .texto-header {
    height: 100%;
    width: 95%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.header .texto-header #hola-header {
    text-align: center;
    display: none;
  }
  header.header .texto-header #nombre-header {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  header.header .img-header {
    height: auto;
    margin-bottom: 30px;
  }
  header.header .img-header img {
    max-width: 450px;
    height: auto;
  }
}

@media screen and (max-width: 475px) {
  header.header {
    font-size: 12px;
  }
  header.header .texto-header h1#nombre-header {
    font-size: 3em;
  }
  header.header .img-header img {
    max-width: 340px;
    height: auto;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 700;
}

h4 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

section.proyectos-destacados-home {
  padding-left: 10%;
  padding-right: 10%;
  width: 100%;
  height: 700px;
  background: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.proyectos-destacados-home h2 {
  font-size: 3.4375em;
  margin-bottom: 70px;
  text-align: center;
}

section.proyectos-destacados-home .tarjetas {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: auto;
}

section.proyectos-destacados-home .tarjetas .tarjeta-proyecto {
  width: 50%;
  height: 320px;
  background: #ffffff;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10px;
  margin-left: 10px;
}

section.proyectos-destacados-home .tarjetas .tarjeta-proyecto img.img-proyecto {
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 0 0 25px;
}

section.proyectos-destacados-home .tarjetas .tarjeta-proyecto .texto-proyecto {
  height: 90%;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.proyectos-destacados-home .tarjetas .tarjeta-proyecto .texto-proyecto h4 {
  font-size: 1.5em;
  text-align: center;
}

section.proyectos-destacados-home .tarjetas .tarjeta-proyecto .texto-proyecto p {
  font-size: 1em;
  text-align: center;
}

section.proyectos-destacados-home .tarjetas .tarjeta-proyecto .texto-proyecto button.ver-proyecto {
  background: #3eb1c8;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  padding: 10px 40px;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}

section.proyectos-destacados-home .tarjetas .tarjeta-proyecto .texto-proyecto button.ver-proyecto:hover {
  background: #242424;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

section.proyectos-destacados-home button.mas-proyectos {
  margin-top: 70px;
  background: #3eb1c8;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  padding: 10px 40px;
  font-size: 1.25em;
  font-weight: 700;
  cursor: pointer;
}

section.proyectos-destacados-home button.mas-proyectos:hover {
  background: #242424;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

@media screen and (max-width: 1024px) {
  section.proyectos-destacados-home {
    font-size: 14px;
    height: 1000px;
    padding-left: 5%;
    padding-right: 5%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  section.proyectos-destacados-home h2 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  section.proyectos-destacados-home .tarjetas {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  section.proyectos-destacados-home .tarjetas .tarjeta-proyecto {
    height: 600px;
    max-width: 370px;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  section.proyectos-destacados-home .tarjetas .tarjeta-proyecto img.img-proyecto {
    border-radius: 25px 25px 0 0;
    width: 100%;
    height: 300px;
  }
  section.proyectos-destacados-home .tarjetas .tarjeta-proyecto .texto-proyecto {
    width: 100%;
    height: 300px;
  }
  section.proyectos-destacados-home .tarjetas .tarjeta-proyecto .texto-proyecto h4 {
    font-size: 2.3em;
  }
  section.proyectos-destacados-home .tarjetas .tarjeta-proyecto .texto-proyecto p {
    font-size: 1.3em;
  }
  section.proyectos-destacados-home button.mas-proyectos {
    margin-top: 0px;
  }
}

@media screen and (max-width: 675px) {
  section.proyectos-destacados-home {
    height: 1500px;
  }
  section.proyectos-destacados-home h2 {
    font-size: 2.8em;
  }
  section.proyectos-destacados-home .tarjetas {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  section.proyectos-destacados-home .tarjetas .tarjeta-proyecto {
    max-width: 100%;
    min-width: 430px;
    height: 600px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
  section.proyectos-destacados-home .tarjetas .tarjeta-proyecto img {
    height: 300px;
  }
  section.proyectos-destacados-home .tarjetas .tarjeta-proyecto .texto-proyecto {
    height: 300px;
  }
  section.proyectos-destacados-home button.mas-proyectos {
    margin-top: -20px;
  }
}

@media screen and (max-width: 450px) {
  section.proyectos-destacados-home {
    font-size: 12px;
  }
  section.proyectos-destacados-home .tarjetas .tarjeta-proyecto {
    width: 100%;
    max-width: 350px;
    min-width: 300px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 700;
}

h4 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

section.contactame {
  width: 100%;
  height: 950px;
  padding-top: 100px;
  padding-bottom: 100px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contactame .caja-form {
  height: 90%;
  width: 80%;
  background: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 25px;
}

section.contactame .caja-form h3 {
  font-size: 2.5em;
  margin-top: 50px;
  text-align: center;
}

section.contactame .caja-form .contacto-form {
  height: 90%;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

section.contactame .caja-form .contacto-form .logo-contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contactame .caja-form .contacto-form .logo-contacto img {
  height: 50%;
  padding-right: 80px;
  margin-bottom: 50px;
}

section.contactame .caja-form .contacto-form .formulario {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.contactame .caja-form .contacto-form .formulario form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

section.contactame .caja-form .contacto-form .formulario form .campo {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
}

section.contactame .caja-form .contacto-form .formulario form .campo label {
  margin-bottom: 10px;
  color: #242424;
}

section.contactame .caja-form .contacto-form .formulario form .campo input[type="text"], section.contactame .caja-form .contacto-form .formulario form .campo input[type="email"], section.contactame .caja-form .contacto-form .formulario form .campo textarea, section.contactame .caja-form .contacto-form .formulario form .campo select {
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 2px solid #bfbfbf;
  -webkit-transition: ease-in-out .15s;
  transition: ease-in-out .15s;
}

section.contactame .caja-form .contacto-form .formulario form .campo input[type="text"]:hover, section.contactame .caja-form .contacto-form .formulario form .campo input[type="email"]:hover, section.contactame .caja-form .contacto-form .formulario form .campo textarea:hover, section.contactame .caja-form .contacto-form .formulario form .campo select:hover {
  border-color: #242424;
}

section.contactame .caja-form .contacto-form .formulario form .campo input[type="text"]:focus, section.contactame .caja-form .contacto-form .formulario form .campo input[type="email"]:focus, section.contactame .caja-form .contacto-form .formulario form .campo textarea:focus, section.contactame .caja-form .contacto-form .formulario form .campo select:focus {
  border-color: #3eb1c8;
}

section.contactame .caja-form .contacto-form .formulario form input.enviar-datos {
  background: #3eb1c8;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  padding: 10px 40px;
  margin-top: 30px;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}

section.contactame .caja-form .contacto-form .formulario form input.enviar-datos:hover {
  background: #242424;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

@media screen and (max-width: 1024px) {
  section.contactame {
    height: 1105px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  section.contactame .caja-form {
    width: 90%;
  }
  section.contactame .caja-form h3 {
    margin-top: 60px;
  }
  section.contactame .caja-form .contacto-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.contactame .caja-form .contacto-form .logo-contacto {
    height: 250px;
  }
  section.contactame .caja-form .contacto-form .logo-contacto img {
    height: 70%;
    padding-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 475px) {
  section.contactame {
    font-size: 14px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 700;
}

h4 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

footer {
  width: 100%;
  height: 100px;
  background: #3eb1c8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .redes i {
  cursor: pointer;
  color: #ffffff;
  font-size: 3rem;
  margin-right: 20px;
}

.proyectos-portafolio {
  padding-top: 0;
  width: 100%;
  height: 1300px;
  background: #242424;
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proyectos-portafolio h2 {
  font-size: 3em;
  padding-bottom: 50px;
  color: #ffffff;
}

.proyectos-portafolio .tarjetas-portafolio {
  width: 100%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.proyectos-portafolio .tarjetas-portafolio .tarjeta-proyecto-portafolio {
  height: 450px;
  background: #ffffff;
  border-radius: 25px;
}

.proyectos-portafolio .tarjetas-portafolio .tarjeta-proyecto-portafolio img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 25px 25px 0 0;
  background: #3eb1c8;
}

.proyectos-portafolio .tarjetas-portafolio .tarjeta-proyecto-portafolio .texto-proyecto-portafolio {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.proyectos-portafolio .tarjetas-portafolio .tarjeta-proyecto-portafolio .texto-proyecto-portafolio h4 {
  text-align: center;
  font-size: 1.5em;
  width: 90%;
}

.proyectos-portafolio .tarjetas-portafolio .tarjeta-proyecto-portafolio .texto-proyecto-portafolio p {
  text-align: center;
  font-size: 1em;
  width: 80%;
}

.proyectos-portafolio .tarjetas-portafolio .tarjeta-proyecto-portafolio .texto-proyecto-portafolio button.ver-proyecto-individual {
  background: #3eb1c8;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  padding: 10px 40px;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
}

.proyectos-portafolio .tarjetas-portafolio .tarjeta-proyecto-portafolio .texto-proyecto-portafolio button.ver-proyecto-individual:hover {
  background: #242424;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

@media screen and (max-width: 1024px) {
  .proyectos-portafolio {
    height: 1650px;
  }
  .proyectos-portafolio h2 {
    padding-bottom: 70px;
  }
  .proyectos-portafolio .tarjetas-portafolio {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .proyectos-portafolio {
    height: 3150px;
    padding-top: 50px;
    font-size: 14px;
  }
  .proyectos-portafolio h2 {
    text-align: center;
    padding-bottom: 50px;
  }
  .proyectos-portafolio .tarjetas-portafolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .proyectos-portafolio .tarjetas-portafolio .tarjeta-proyecto-portafolio {
    margin-bottom: 20px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 700;
}

h4 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.sobre-mi {
  background: #242424;
  width: 100%;
  height: 100vh;
  padding-top: 80px;
  padding-left: 10%;
  padding-right: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sobre-mi .foto-sobre-mi {
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sobre-mi .foto-sobre-mi img {
  height: 100%;
}

.sobre-mi .info-sobre-mi {
  height: 70%;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sobre-mi .info-sobre-mi h2 {
  color: #ffffff;
  font-size: 2.625em;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sobre-mi .info-sobre-mi p {
  color: #ffffff;
  font-size: 1.5em;
  width: 100%;
  text-align: justify;
  padding-bottom: 50px;
}

.sobre-mi .info-sobre-mi button {
  color: #ffffff;
  font-weight: 700;
  font-size: 1.125em;
  background: #3eb1c8;
  border: none;
  padding: 15px 60px;
  border-radius: 15px;
  margin-bottom: 10%;
  cursor: pointer;
}

.sobre-mi .info-sobre-mi button:hover {
  background: #ffffff;
  color: #3eb1c8;
  -webkit-transition: ease-in-out .25s;
  transition: ease-in-out .25s;
}

@media screen and (max-width: 1024px) {
  .sobre-mi {
    font-size: 14px;
    height: auto;
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sobre-mi .info-sobre-mi {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50px;
    height: 100%;
    width: 70%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sobre-mi .info-sobre-mi h2 {
    text-align: center;
  }
  .sobre-mi .info-sobre-mi p {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.2em;
  }
  .sobre-mi .foto-sobre-mi {
    height: auto;
    margin-bottom: 30px;
  }
  .sobre-mi .foto-sobre-mi img {
    max-width: 450px;
    height: auto;
  }
}

@media screen and (max-width: 475px) {
  .sobre-mi {
    font-size: 12px;
    padding-top: 80px;
  }
  .sobre-mi .info-sobre-mi {
    width: 80%;
  }
  .sobre-mi .foto-sobre-mi img {
    max-width: 340px;
    height: auto;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 900;
}

h2 {
  font-weight: 900;
}

h3 {
  font-weight: 700;
}

h4 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

section.habilidades {
  background: #eaeaea;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 10%;
  padding-right: 10%;
}

section.habilidades h2 {
  font-size: 2.625em;
  padding-bottom: 75px;
}

section.habilidades .contenedores-habilidades {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

section.habilidades .contenedores-habilidades .container {
  width: 500px;
  margin-right: 20px;
}

section.habilidades .contenedores-habilidades .container h2 {
  font-size: 1.75em;
  color: #242424;
  padding: 0;
}

section.habilidades .contenedores-habilidades .container .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
  padding: 24px 10px 18px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  /*&::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 50%;
                    //background: rgba(255, 255, 255, .1);
                    z-index: 10;
                }*/
}

section.habilidades .contenedores-habilidades .container .skills .Name {
  width: 110px;
  text-align: right;
  color: #242424;
  margin-top: -2px;
  text-transform: uppercase;
}

section.habilidades .contenedores-habilidades .container .skills .Value {
  width: 40px;
  text-align: left;
  color: #242424;
  margin-top: -2px;
  text-transform: uppercase;
}

section.habilidades .contenedores-habilidades .container .skills .percent {
  position: relative;
  width: calc(100% - 150px);
  height: 20px;
  margin: 0 10px;
  border-radius: 10px;
  background: #242424;
  overflow: hidden;
}

section.habilidades .contenedores-habilidades .container .skills .percent .progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  border-radius: 10px;
  background: #3eb1c8;
  -webkit-box-shadow: inset 0 0 2px #000;
          box-shadow: inset 0 0 2px #000;
  -webkit-animation: animate 8s ease-in-out forwards;
          animation: animate 8s ease-in-out forwards;
}

@-webkit-keyframes animate {
  from {
    width: 0;
  }
}

@keyframes animate {
  from {
    width: 0;
  }
}

@media screen and (max-width: 1024px) {
  section.habilidades {
    font-size: 14px;
  }
  section.habilidades .contenedores-habilidades {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.habilidades .contenedores-habilidades .container {
    width: 100%;
    margin-right: 0;
    padding-bottom: 40px;
  }
}
/*# sourceMappingURL=estilo.css.map */