@import 'generales', 'variables';

section.habilidades{
    background: $gris-claro;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
    padding-bottom: 75px;
    padding-left: 10%;
    padding-right: 10%;
    h2{
        font-size: 42px;
        padding-bottom: 75px;
    }
    .contenedores-habilidades{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .container{
            //position: relative;
            width: 500px;
            margin-right: 20px;
            h2{
                font-size: 28px;
                color: $negro;
                padding: 0;
            }
            .skills{
                //position: relative;
                display: flex;
                margin: 20px 0;
                padding: 24px 10px 18px;
                //background: linear-gradient(#616161 0%, #333 10%, #222);
                background: white;
                border-radius: 8px;
                overflow: hidden;
                border: 2px solid #000;
                transition: 0.5s;
                /*&::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 50%;
                    //background: rgba(255, 255, 255, .1);
                    z-index: 10;
                }*/
                .Name{
                    //position: relative;
                    width: 110px;
                    text-align: right;
                    color: $negro;
                    margin-top: -2px;
                    text-transform: uppercase;
                }
                .Value{
                    //position: relative;
                    width: 40px;
                    text-align: left;
                    color: $negro;
                    margin-top: -2px;
                    text-transform: uppercase;
                }
                .percent{
                    position: relative;
                    width: calc(100% - 150px);
                    height: 20px;
                    margin: 0 10px;
                    border-radius: 10px;
                    background: $negro;
                    //box-shadow: inset 0 0 10px #000;
                    overflow: hidden;
                    .progress{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 70%;
                        height: 100%;
                        border-radius: 10px;
                        background: $celeste;
                        box-shadow: inset 0 0 2px #000;
                        animation: animate 8s ease-in-out forwards;
                        
                    }
                }
            }
        }
    }
}

@keyframes animate{
    from{
        width: 0;
    }
}

@media screen and (max-width: 1024px){
    section.habilidades{
        .contenedores-habilidades{
            flex-direction: column;
            .container{
                width: 100%;
                margin-right: 0;
                padding-bottom: 40px;
            }
        }
    }
}