@import 'generales', 'variables';


.sobre-mi{
    background: $negro;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .foto-sobre-mi{
        height: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img{
            height: 100%;
        }
    }
    .info-sobre-mi{
        height: 70%;
        padding-left: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h2{
            color: $blanco;
            font-size: 2.625em;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        p{
            color: $blanco;
            font-size: 1.5em;
            width: 100%;
            text-align: justify;
            padding-bottom: 50px;
        }
        button{
            color: $blanco;
            font-weight: $bold;
            font-size: 1.125em;
            background: $celeste;
            border: none;
            padding: 15px 60px;
            border-radius: 15px;
            margin-bottom: 10%;
            cursor: pointer;
            &:hover{
                background: $blanco;
                color: $celeste;
                transition: ease-in-out .25s;
            }
        }
    }

}

@media screen and (max-width: 1024px){
    .sobre-mi{
        font-size: 14px;
        height: auto;
        padding-top: 50px;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;  
        justify-content: center;
        align-items: center;
        .info-sobre-mi{
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 50px;
            height: 100%;
            width: 70%;
            justify-content: center;
            align-items: center;
            h2{
                text-align: center;
            }
            p{
                margin-top: 0;
                margin-bottom: 0;
                text-align: center;
                font-size: 1.2em;
            }
        }
        .foto-sobre-mi{
            height: auto;
            margin-bottom: 30px;
            img{
                max-width: 450px;
                height: auto;
            }
        }
    }
}
@media screen and (max-width: 475px){
    .sobre-mi{
        font-size: 12px;
        padding-top: 80px;
        .info-sobre-mi{
            width: 80%;
        }
        .foto-sobre-mi{
            img{
                max-width: 340px;
                height: auto;
            }
        }
    }
}